<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT Website Clone</title>
    <link rel="preload" href="style.css" >
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Converter</h1>
            <ul>
                <li><a href="/https://www.linkedin.com/in/luiz--miguel">Follow me</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="header">
            <h2>Welcome to Converter</h2>
        </section>

        <section class="response">
            <span>
                <p>
                    {{token}}
                </p>
            </span>
        </section>

        <section class="features">
            <form action="" method="post">
                <input type="text" name="" id="">
                <button>Send</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 GPT Clone. All rights reserved.</p>
    </footer>
</body>
</html>
